{{#if loading}}
    <div class="loading"><i class="icon-refresh icon-spin"></i></div>
{{else}}
    {{#if input}}
      <span class="result-time label label-default pull-right">{{totalTime}} ms</span>
      <div class="input">{{input}}</div>
    {{/if}}
    <div class="output">{{output}}</div>
    <div class="result">≫ {{result}}</div>
{{/if}}