<div class="btn-toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
          {{store}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu store" role="menu">
            <li><a href="#" data-store="local">Local Storage</a></li>
            <li><a href="#" data-store="remote">Remote Storage</a></li>
        </ul>
    </div>
</div>
<div class="folder ">
  {{#if hasUp}}<a href="#" class="up">../</a>{{/if}}<span title="{{path}}">{{currentDir}}/</span>
</div>
<div class="files-wrapper">
  {{#if files}}
      <ul class="files">
        {{#each files}}
            <li data-file-id="{{id}}">
                <div class="name">
                  {{scriptsFileIcon}}
                    <a class="name" href="#">{{name}}</a>
                </div>
                <a class="delete" href="#">×</a>
            </li>
        {{/each}}
      </ul>
  {{else}}
      <div class="message">No files</div>
  {{/if}}
</div>